@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.navBar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navBar ul li .font {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.navBar ul li a:hover {
    color: blue;
    transition: .4s;
}

.highLightContainer{
    min-height: 5rem;
    margin-top: 1.5rem;
}

.nameContainer, #label-InStock, #label-SoldOut, #label-LowStock {
    font-size: 1.1rem;
    font-weight: normal;
}

.nameContainer, .statusContainer{
    margin-bottom: 1rem;
}
