/* Left Menu */
#main-container {
    height: 100vh;
    border: 1px solid;
}

#left-menu {
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 20%);
}

#left-menu > div {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2px;
}

#left-menu div:hover {
    color: #ff9800;
}

.left-menu-target {
    font-weight: bold;
}
a{
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: hotpink;
}
