/* Right Menu Management */

#myTable_filter{
    margin-bottom: 5px;
}
#right-content > div {
    padding: 10px;
}

#right-content caption {
    color: black;
    font-weight: bold;
}

#right-content th {
    background-color: #ff9800;
    color: white;

}


#right-content td:hover {
    cursor: pointer;
}

#right-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

i{
    margin-right: 5px;
}

#table-header{
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-weight: bold;
}
#table-header i{
    font-size: 150%;
    cursor: pointer;
}

#table-header i:hover{
    font-size: 150%;
    cursor: pointer;
    color: #ff9800;
}
