/* Right Menu Management */

#myTable_filter{
    margin-bottom: 5px;
}
#right-content > div {
    padding: 10px;
}

#right-content caption {
    color: black;
    font-weight: bold;
}

#right-content th {
    background-color: #ff9800;
    color: white;

}


#right-content td:hover {
    cursor: pointer;
}

#right-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

i{
    margin-right: 5px;
}

#table-header{
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-weight: bold;
}
#table-header i{
    font-size: 150%;
    cursor: pointer;
}

#table-header i:hover{
    font-size: 150%;
    cursor: pointer;
    color: #ff9800;
}

.detail-item-container-header{
    width: 100%;
    text-align: end;
    border-bottom: 1px slategrey solid;
    margin-bottom: 10px;
}
.price-col{
    width: 100%;
    text-align: end;
}

.detail-same-row{
    display: flex;
}

.detail-price-end{
    text-align: end;
    width: 20%;
}

#detail-item-container > div{
    margin-bottom: 5px;
}
#detail-item-container  span, .detail-price-end{
    font-weight: bold;
}

#detail-total{
    width: 100%;
    text-align: end;
    border-top:1px slategrey solid;
    margin-top: 10px;
}

#detail-total-text{
    font-weight: bold;
}

#myTable_info{
    color: #FF9800;
    font-weight: bold;
}

.err-msg{
    color: red;
}

#voidReason{
    margin-bottom: 10px;
}